/* set color variables */
:root {
    --bg-color: rgb(9, 6, 20);
    --text-color: rgb(220, 226, 255);
    --accent-color: rgb(182, 191, 241);
}

/* body elements */
body {
    background-color: var(--bg-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
}

p {
    font-size: 125%;
}

/* header section */
header {
    padding: 20px 0px 20px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    color: var(--text-color);
}

header figure {
    display: flex;
    justify-content: flex-start;
}

header figcaption {
    font-size: 300%;
}

header nav {
    flex: 0 1 50%;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

header nav ul li {
    font-size: 175%;
    padding: 10px;
}

/* interact with header nav */
header nav ul li:hover {
    padding: 5px 10px 15px 10px;
}

/* main section, includes full page except header */
main {
    display: flex;
    flex-direction: column;
}

h2 {
    flex: 0 1 25%;
    text-align: end;
    color: var(--text-color);
    border-right: solid 1.5px var(--text-color);
    padding-right: 3%;
    font-size: 250%;
}

/* about section */

#about {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

#about article {
    flex: 0 0 60%;
    margin-left: 5%;
    color: var(--text-color);
}

/* work section */
#work {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

.apps-container {
    flex: 0 0 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.application {
    flex: 0 0 40%;
    position: relative;
    padding: 2% 0 2% 0;
}

.application img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border: solid 10px var(--accent-color);
}

.application figcaption {
    position: absolute;
    bottom: 33%;
    background-color: var(--accent-color);
    padding: 2%;
    color: var(--bg-color);
}

#first-app {
    flex: 0 0 86.7%;
}

#first-app img {
    height: 520px;
}

h3 {
    font-size: 150%;
}

/* interact with applications */
/* Louis Lazaris, 2011, Image tint with CSS
    https://www.impressivewebs.com/image-tint-blend-css/ */
.application::before {
    content: "";
    display: block;
    position: absolute;
    top: 7.5%;
    bottom: 7.5%;
    left: 0;
    right: 0;
    background-color: var(--accent-color);
    transition: background .3s linear;
    opacity: 50%;
}

.application#first-app::before {
    top: 3.75%;
    bottom: 3.75%;
}

.application:hover::before {
    background: none;
}

/* footer elements */

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
}

footer nav {
    flex: 1 0 60%;
    margin-right: 15%;
}

footer nav ul {
    display: flex;
    justify-content: space-around;
}

footer nav ul li {
    font-size: 125%;
    padding: 5px;
}

/* interact with footer nav */
footer nav ul li:hover {
    padding: 3px 5px 7px 5px;
}

/* media queries to resize page as needed */
@media screen and (max-width: 992px) {
    /* body */
    p {
        font-size: 100%;
    }
    
    /* header */
    header {
        flex-direction: column;
    }

    header nav {
        padding-top: 2%;
        width: 100%;
    }

    /* header figure {
        display: flex;
        justify-content: flex-start;
    } */

    /* main */
    h2 {
        border-right: none;
        border-bottom: solid 2px var(--text-color);
        font-size: 200%;
        width: fit-content;
        margin-right: 20px;
        padding-left: 30%;
        padding-bottom: 1%;
    }

    h2 + * {
        padding-top: 3%;
    }

    /* about */
    #about {
        flex-direction: column;
        align-items: flex-end;
    }

    #about article {
        padding-right: 2%;
    }

    /* work */
    #work {
        flex-direction: column;
        align-items: flex-end;
        padding-top: 0;
    }

    .application img {
        height: 130px;
    }

    #first-app img {
        height: 260px;
    }

    h3 {
        font-size: 125%;
    }

    /* interact with work */
    .application::before {
        top: 10%;
        bottom: 10%;
    }

    .application#first-app::before {
        top: 7%;
        bottom: 7.5%;
    }

    /* footer */
    footer {
        flex-direction: column;
        align-items: flex-end;
    }

    footer nav {
        width: 100%;
        margin-right: 0;
    }

    footer nav ul li {
        font-size: 100%;
    }
}

@media screen and (max-width: 768px) {
    p {
        font-size: 75%
    }

    h1 {
        font-size: 125%;
    }

    h2 {
        font-size: 125%;
    }

    h3 {
        font-size: 100%;
    }

    footer nav ul li {
        font-size: 75%;
    }
}
