/* set color variables */
:root {
    --bg-color: rgb(9, 6, 20);
    --text-color: rgb(220, 226, 255);
}

/* body elements */
body {
    background-color: var(--bg-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
}

/* header elements */
header {
    padding: 20px 0px 20px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    color: var(--text-color);
}

header figure {
    display: flex;
    justify-content: flex-start;
}

header figcaption {
    font-size: 300%;
}

header nav {
    flex: 0 1 50%;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

header nav ul li {
    font-size: 175%;
    padding: 10px;
}

/* interact with header nav */
header nav ul li:hover {
    padding: 5px 10px 15px 10px;
}

/* main section */
main {
    display: flex;
    flex-direction: column;
    max-height: 90%;
}

h2 {
    flex: 0 1 25%;
    text-align: end;
    color: var(--text-color);
    border-right: solid 1.5px var(--text-color);
    padding-right: 3%;
    font-size: 250%;
}

/* about section */

#about {
    background-color: palevioletred;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

#about article {
    flex: 0 0 60%;
    margin-left: 5%;
}

/* work section */
#work {
    background-color: seagreen;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

.apps {
    flex: 0 0 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.application {
    background-color: plum;
    flex: 0 0 45%;
}

#first {
    flex: 0 0 93.4%;
}

section img {
    max-width: 600px;
    max-height: 200px;
}

/* footer elements */

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
}

footer nav {
    flex: 1 0 60%;
    margin: 0 15% 0 0;
}

footer nav ul {
    display: flex;
    justify-content: space-around;
}

footer nav ul li {
    font-size: 125%;
    padding: 5px;
}

/* interact with footer nav */
footer nav ul li:hover {
    background-color: tomato;
}

/* media queries to resize page as needed */
/* @media screen and (max-width: 992px) {
    main {
        max-width: 100%;
        margin-left: 0;
    }
} */